#background{
  width: 100%;
  height: 100%;
  background: black;
  display: none;
}

body {
  height: 200%;
  width: 200%;
  margin: 0;
  overflow: hidden;
}

html {
  min-height: 200% !important;
  height: 200%;
  width: 200%;
}